@model IEnumerable<m.Models.Designation>

@{
    ViewBag.Title = "Master Designations";
}

<h2>Master Designations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm())
    {    
        <p>
            Search for : @*@Html.TextBox("SearchString")*@
            <input type="text" name="SearchString" data-autocomplete-source="@Url.Action("QuickSearch", "MasterDesignation")" />
            <input type="submit" value="Filter" />
        </p> 
    }
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

