@model m.Models.RegisterModel

@{
    ViewBag.Title = "Master User Create";
}

<h2>Master User Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RegisterModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mobile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mobile)
            @Html.ValidationMessageFor(model => model.Mobile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eMail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eMail)
            @Html.ValidationMessageFor(model => model.eMail)
        </div>

        @*   <div class="editor-label">
            @Html.LabelFor(model => model.Designation)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Designations", String.Empty)
            @Html.ValidationMessageFor(model => model.DesignationID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Father)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Father)
            @Html.ValidationMessageFor(model => model.Father)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mother)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mother)
            @Html.ValidationMessageFor(model => model.Mother)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoB)
            @Html.ValidationMessageFor(model => model.DoB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sex)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sex)
            @Html.ValidationMessageFor(model => model.sex)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.marrital_status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.marrital_status)
            @Html.ValidationMessageFor(model => model.marrital_status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoJ)
            @Html.ValidationMessageFor(model => model.DoJ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoJA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoJA)
            @Html.ValidationMessageFor(model => model.DoJA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoI)
            @Html.ValidationMessageFor(model => model.DoI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoSalary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoSalary)
            @Html.ValidationMessageFor(model => model.DoSalary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoL)
            @Html.ValidationMessageFor(model => model.DoL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.reason_leave)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.reason_leave)
            @Html.ValidationMessageFor(model => model.reason_leave)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.category)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.category)
            @Html.ValidationMessageFor(model => model.category)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.division)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.division)
            @Html.ValidationMessageFor(model => model.division)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.department)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.department)
            @Html.ValidationMessageFor(model => model.department)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.grade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.grade)
            @Html.ValidationMessageFor(model => model.grade)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bank)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bank)
            @Html.ValidationMessageFor(model => model.Bank)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.bank_account)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.bank_account)
            @Html.ValidationMessageFor(model => model.bank_account)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pf_no)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pf_no)
            @Html.ValidationMessageFor(model => model.pf_no)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pf_no_dept)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pf_no_dept)
            @Html.ValidationMessageFor(model => model.pf_no_dept)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.esi_no)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.esi_no)
            @Html.ValidationMessageFor(model => model.esi_no)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.esi_dispensary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.esi_dispensary)
            @Html.ValidationMessageFor(model => model.esi_dispensary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.restrict_pf_contri)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.restrict_pf_contri)
            @Html.ValidationMessageFor(model => model.restrict_pf_contri)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.zero_pension)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.zero_pension)
            @Html.ValidationMessageFor(model => model.zero_pension)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.zero_pt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.zero_pt)
            @Html.ValidationMessageFor(model => model.zero_pt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PAN)
            @Html.ValidationMessageFor(model => model.PAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ward)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ward)
            @Html.ValidationMessageFor(model => model.Ward)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressPresent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressPresent)
            @Html.ValidationMessageFor(model => model.AddressPresent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressPermanent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressPermanent)
            @Html.ValidationMessageFor(model => model.AddressPermanent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>
             *@
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
